{% extends 'base.html.twig' %}

{% block title %}All catagories{% endblock %}

{% block body %}
    <h1>Toutes les catégories de la table category : </h1>
    {% for category in categories %}
        <div>
            <a href="{{ path('category_show', {id: category.id}) }}">{{ loop.index }} / {{ category.name }}
        </div>
    {% else %}
        Aucune catégorie trouvée.
    {% endfor %}

    <a href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>
{% endblock %}
