{% extends "base.html.twig" %}

{% block body %}
    {{ form_start(formView) }}
    {{ form_widget(formView) }}
    <button type="submit">Ajouter une catégorie</button>
    {{ form_end(formView) }}
{% endblock %}