<nav class="navbar navbar-light bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('app_index') }}">Accueil</a>
        <a class="navbar-brand" href="{{ path('program_index') }}">Programmes</a>
        <a class="navbar-brand" href="{{ path('category_index') }}">Catégories</a>
    </div>
</nav>